/.CFUserTextEncoding
/.DS_Store
/.Trash
/.pgadmin
/.psql_history
/.vscode
/.zprofile
/.zsh_history
/.zsh_sessions
/Applications (Parallels)
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Parallels
/Pictures
/Public
/Tahmid Abrar- Business Insight Analyst.docx
/Tahmid Abrar- Business Insight Analyst.pdf